<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    </head>

    <body>
      <div class="container" style="width:100%; background-color:#334137">
          <form method="POST" style="vcenter">
                <img src="../static/img/codemon.png" style="width:300px; padding: 10px 10px 20px 10px">
                <!--<div class="vcenter">-->
                <!--<input type="submit" value="Search" style="float:right;border-radius:10px;">-->
                <!--<input type="text" style="width:10em;float:right;border-radius:10px;">-->
                <!--</div>-->
            </form>
      </div>

        <div class="container" style="padding-top:1em; width:70%">
          
        <font size="7em">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
            <li><a data-toggle="pill" href="#menu1">Webmon</a></li>
            <li><a data-toggle="pill" href="#menu2">Pythomon</a></li>
            <li><a data-toggle="pill" href="#menu3">Andromon</a></li>
          </ul>
        </font>
        <font size="5">
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Home</h3>
              <p>Solve coding problems to evolve your Codemon!</p>
              	<!--<a href="problems.html">Solve More Problems</a>-->
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Web Codemon</h3>
    	       <img id="img0" src="../static/img/z">
    	<a href="problems.html">Solve More Problems</a>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Python Codemon</h3>
               <img id="img1" src="../static/img/z">
    	<a href="problems.html">Solve More Problems</a>
            </div>
            <div id="menu3" class="tab-pane fade">
              <h3>Mobile Codemon</h3>
               <img id="img2" src="../static/img/d">
                   	<a href="problems.html">Solve More Problems</a>
    	       <img id="img0" src="{{ url_for('static', filename='img/z.jpg') }}">
                <p id="exp0"></p>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Python Codemon</h3>
               <img id="img1" src="{{ url_for('static', filename='img/z.jpg') }}">
                <p id="exp1"></p>
            </div>
            <div id="menu3" class="tab-pane fade">
              <h3>Mobile Codemon</h3>
               <img id="img2" src="{{ url_for('static', filename='img/z.jpg') }}">
                <p id="exp2"></p>
            </div>
            <p id = "exp-p">
                {{exp}}
            </p>
          </div>
        </div>
        
        
        

    	<script type="text/javascript">
            var exp = $("#exp-p").text()
            console.log(exp)
    	    json="";
    	    if(json["exp0"]===0)
    	    {
    	        document.getElementById("img0").src="{{ url_for('static', filename='img/z.jpg') }}";
    	        document.getElementById("exp0").innerHTML="Not Started!";
    	    }
    	    if(json["exp0"]<100)
    	    {
    	        document.getElementById("img0").src="{{ url_for('static', filename='img/a.jpg') }}";
    	        document.getElementById("exp0").innerHTML="Level 1";
    	    }
    	    else
    	    {
    	        document.getElementById("img0").src="{{ url_for('static', filename='img/b.jpg') }}";
    	        document.getElementById("exp0").innerHTML="Level 2";
    	    }    	    json="";
    	    if(json["exp1"]===0)
    	    {
    	        document.getElementById("img1").src="{{ url_for('static', filename='img/z.jpg') }}";
    	        document.getElementById("exp1").innerHTML="Not Started!";
    	    }
    	    if(json["exp1"]<100)
    	    {
    	        document.getElementById("img1").src="{{ url_for('static', filename='img/e.jpg') }}";
    	        document.getElementById("exp1").innerHTML="Level 1";
    	    }
    	    else
    	    {
    	        document.getElementById("img1").src="{{ url_for('static', filename='img/f.jpg') }}";
    	        document.getElementById("exp1").innerHTML="Level 2";
    	    }    	    json="";
    	    if(json["exp2"]===0)
    	    {
    	        document.getElementById("img2").src="{{ url_for('static', filename='img/z.jpg') }}";
    	        document.getElementById("exp2").innerHTML="Not Started!";
    	    }
    	    if(json["exp2"]<100)
    	    {
    	        document.getElementById("img2").src="{{ url_for('static', filename='img/c.jpg') }}";
    	        document.getElementById("exp2").innerHTML="Level 1";
    	    }
    	    else
    	    {
    	        document.getElementById("img2").src="{{ url_for('static', filename='img/d.jpg') }}";
    	        document.getElementById("exp2").innerHTML="Level 2";
    	    }
    	</script>
    	
    


</font>
</body>
</html>
