<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    </head>

    <body>
      <div class="container" style="width:100%; background-color:#334137">
          <form method="POST" style="vcenter">
                <img src="../static/img/codemon.png" style="width:300px; padding: 10px 10px 20px 10px">
                <!--<div class="vcenter">-->
                <!--<input type="submit" value="Search" style="float:right;border-radius:10px;">-->
                <!--<input type="text" style="width:10em;float:right;border-radius:10px;">-->
                <!--</div>-->
            </form>
      </div>

        <div class="container" style="padding-top:1em">
          
        <font size="7">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
            <li><a data-toggle="pill" href="#menu1">Codemon</a></li>
            <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
            <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
          </ul>
        </font>
        <font size="5">
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Home</h3>
              <p>Solve coding problems to evolve your Codemon!</p>
            </div>
            <div id="menu1" class="tab-pane fade">poops
              <h3>Web Codemon</h3>
    	       <img id="img0" src="../static/img/z">
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Python Codemon</h3>
               <img id="img1" src="../static/img/z">
            </div>
            <div id="menu3" class="tab-pane fade">
              <h3>Mobile Codemon</h3>
               <img id="img2" src="../static/img/d">
            </div>
          </div>
        </div>
        
        
        
    	<a href="problems.html">Solve More Problems</a>
    	<script type="text/javascript">
    	    json="";
    	    if(json["exp0"]===0)
    	    {
    	        document.getElementById("img0").src="img/z.jpg";
    	    }
    	    if(json["exp0"]<100)
    	    {
    	        document.getElementById("img0").src="img/a.jpg";
    	    }
    	    else
    	    {
    	        document.getElementById("img0").src="img/b.jpg";
    	    }    	    json="";
    	    if(json["exp1"]===0)
    	    {
    	        document.getElementById("img1").src="img/z.jpg";
    	    }
    	    if(json["exp1"]<100)
    	    {
    	        document.getElementById("img1").src="img/e.jpg";
    	    }
    	    else
    	    {
    	        document.getElementById("img1").src="img/f.jpg";
    	    }    	    json="";
    	    if(json["exp2"]===0)
    	    {
    	        document.getElementById("img2").src="img/z.jpg";
    	    }
    	    if(json["exp2"]<100)
    	    {
    	        document.getElementById("img2").src="img/c.jpg";
    	    }
    	    else
    	    {
    	        document.getElementById("img2").src="img/d.jpg";
    	    }
    	</script>
    	
    


</font>
</body>
</html>
